{% extends 'base.html.twig' %}

{% block title %}Mes adresses -- MaBoutique{% endblock %}

{% block content %}
    <link href="{{ '../assets/css/carousel.css' }}" rel="stylesheet">
    <link href="{{ '../assets/css/bootstrap.min.css' }}" rel="stylesheet">
    <link href="{{ '../assets/css/maBoutique.css' }}" rel="stylesheet">

    <a href="{{ path('account_address_add') }}" class="btn btn-outline-info btn-sm float-right">Ajouter une adresse</a>
    <h1>Mes Adresses</h1>
    C'est dans cet espace que vous allez pouvoir gerer vos adresses.<br>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {% if app.user.addresses | length == 0 %}
    <p class="text-center">
        Vous n'avez pas encore ajouté d'adresse dans votre compte. Pour en ajouter <a href="{{ path('account_address_add') }}">Cliquez-ici </a>
    </p>
    {% else %}

        <div class="row">
        {% for address in app.user.addresses  %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <p class="card-text">
                            {{ address.address }}<br>
                            {{ address.postal }}--{{ address.city }}--{{ address.country }}
                        </p>

                        <a href="{{ path('account_address_edit', { 'id': address.id }) }}" class="btn btn-outline-primary">Modifier</a>
                        <a href="{{ path('account_address_delete', { 'id': address.id }) }}" class="btn btn-outline-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}
