{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe -- MaBoutique{% endblock %}

{% block content %}
    <link href="{{ '../assets/css/carousel.css' }}" rel="stylesheet">
    <link href="{{ '../assets/css/bootstrap.min.css' }}" rel="stylesheet">
    <link href="{{ '../assets/css/maBoutique.css' }}" rel="stylesheet">

    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner a mon compte</a><br>
    <hr>
    {% if notification %}
        {% if success %}
            <div class="alert alert-success">{{ notification }}</div>
        {% else %}
            <div class="alert alert-danger">{{ notification }}</div>
        {% endif %}
    {% endif %}
    {{ form(form) }}
    <hr>
    <script src="{{ '../assets/js/bootstrap.bundle.js' }}"></script>

{% endblock %}